body
{
    background:#eee;
}

/* Zend Layout */

a:link,
a:visited
{
    color: #91BE3F;
}

div#display-date
{
    margin:0 2em;
    color:#000;
}

span#site-name
{
    color: #91BE3F;
}

div#welcome
{
    margin:0 2em;
    color: #91BE3F;
    background: url(http://framework.zend.com/images/bkg_header.jpg);
    height: 550px;
    width:800px;
    border: 2px solid #444444;
    overflow: hidden;
    text-align: center;
}

div#task-list
{
    background-image: url(http://framework.zend.com/images/bkg_body-bottom.gif);
    height: 100%;
}

/* site navigation */

.topnavi
{	
    margin:1em 0 1.5em;    
}

/* Forms */

label { display: block; float: left; clear:none; text-align: left; margin: 0.6em 5px 0 0; width: 50%; }
input, select, textarea { margin: 1em 0 0 0; width: 57%; }
input { border: 1px solid #666; }
input[type=radio], input[type=checkbox], input[type=submit],
input[type=reset], input[type=button], input[type=image] { width: auto; }

/* LINKS */

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

thead th,
tfoot td {
    color: #666;
    padding: 2px 5px;
    font-size: 11px;
    background: #e1e1e1 url(../img/nav-bg.gif) top left repeat-x;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #ddd;
}

thead th:first-child,
tfoot td:first-child {
    border-left: none !important;
}

thead th.optional {
    font-weight: normal !important;
}

fieldset table {
    border-right: 1px solid #eee;
}

tr.row-label td {
    font-size: 9px;
    padding-top: 2px;
    padding-bottom: 0;
    border-bottom: none;
    color: #666;
    margin-top: -1px;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #EDF3FE;
}

.row2 {
    background: white;
}

/* SORTABLE TABLES */

thead th {
    padding: 2px 5px;
    line-height: normal;
}

thead th a:link, thead th a:visited {
    color: #666;
}

thead th.sorted {
    background: #c5c5c5 url(../img/nav-bg-selected.gif) top left repeat-x;
}

table thead th .text span {
    padding: 2px 5px;
    display:block;
}

table thead th .text a {
    display: block;
    cursor: pointer;
    padding: 2px 5px;
}

table thead th.sortable:hover {
    background: white url(../img/nav-bg-reverse.gif) 0 -5px repeat-x;
}

thead th.sorted a.sortremove {
    visibility: hidden;
}

table thead th.sorted:hover a.sortremove {
    visibility: visible;
}

table thead th.sorted .sortoptions {
    display: block;
    padding: 4px 5px 0 5px;
    float: right;
    text-align: right;
}

table thead th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: top;
}

table thead th.sorted .sortoptions a {
    width: 14px;
    height: 12px;
    display: inline-block;
}

table thead th.sorted .sortoptions a.sortremove {
    background: url(../img/sorting-icons.gif) -4px -5px no-repeat;
}

table thead th.sorted .sortoptions a.sortremove:hover {
    background: url(../img/sorting-icons.gif) -4px -27px no-repeat;
}

table thead th.sorted .sortoptions a.ascending {
    background: url(../img/sorting-icons.gif) -5px -50px no-repeat;
}

table thead th.sorted .sortoptions a.ascending:hover {
    background: url(../img/sorting-icons.gif) -5px -72px no-repeat;
}

table thead th.sorted .sortoptions a.descending {
    background: url(../img/sorting-icons.gif) -5px -94px no-repeat;
}

table thead th.sorted .sortoptions a.descending:hover {
    background: url(../img/sorting-icons.gif) -5px -115px no-repeat;
}
